#btaContainer {
  position: relative;
  width: 500px; /* Ajusta el ancho del contenedor según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}

.images {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.images img {
  display: block;
  width: 100%;
  height: auto;
}

input[type='range'] {
  width: 100%;
  margin-top: 10px;
}
